
.fl_l{
    position:absolute;
    position:fixed;
    z-index:9999;
    list-style: none;
    width: 100px;
    float: left;
    margin-left: -40px;
    border: 1px solid #f4f4f4;
    background: #fff;

}
.fl_l li a{
    border-bottom: 1px solid #eee;
    text-align: center;
    display: block;
    color: #333;
    font-size: 14px;
    line-height: 60px;
    text-decoration:none;
}
.fl_l li.active a{
    background: #f60;
    color: #fff;
}
/*.c1{
	var a = document.getElementById("c1");
	a.href = 'd2';  
	a.setAttribute("onclick",'');  
	a.click("return false");
}*/
.navigation a {
    text-decoration: none;
    color: white;
}

.a1 {
    position: relative;
    line-height: 50px;
}

.d1 {
    position: relative;
    /*top: 52px;*/
    left: -8px;
    width: 1367px;
    height: 422px;
    /*background:url(../img/a.jpg) no-repeat;*/

}

.d1 img {
    width: 1366px;
    height: 422px;
}

.d2 {
    position: relative;
    top: 54px;
    /*border: solid 1px black;*/
    height: 600px;
    width: 900px;
    text-align: center;
    margin: 0 auto;
    line-height: 40px;

}

.a2 {
    padding-top: 20px;
    font-size: 40px;
    color: gray;
    /*text-decoration:underline;*/
    border-bottom: 2px solid #66B3FF;
}

.a3 {
    /*text-indent:5em;*/
    text-align: left;
}

.d3 {
    margin-top: 60px;
    width: 1366px;
    height: 300px;
    background-color: #003b79;
    margin-left: -8px;
    text-align: center;

    letter-spacing: 10px;

}

.d3 a {
    line-height: 170px;
    font-size: 33px;
    color: white;

}

.d3 img {
    width: 60px;
    height: 60px;
}

.d4 {
    position: relative;
    top: 54px;
    /*border: solid 1px black;*/
    height: 1100px;
    width: 900px;
    text-align: center;
    margin: 0 auto;
    line-height: 30px;
    line-height: 60px;
}

.d4 ul {
    text-align: left;
}

.a4 {
    padding-top: 20px;
    font-size: 40px;
    color: gray;
    /*text-decoration:underline;*/
    border-bottom: 2px solid #66B3FF;

}

.d5 {
    /*border: solid 1px black;*/
    height: 900px;
    width: 900px;
    margin: 0 auto;
    text-align: center;
}

.d5 a {
    padding-top: 20px;
    font-size: 40px;
    color: gray;
    /*text-decoration:underline;*/
    border-bottom: 2px solid #66B3FF;
    line-height: 100px;
}

.d5 img {
    width: 250px;
    height: 180px;
    margin-left: 40px;
    margin-top: 50px;
}