.contentStudentShow {
    margin: 0 auto;
    width: 1150px;
}

* {
    margin: 0;
    padding: 0;
    font-size: 12px;
}

body {

}

input, button, select, textarea {
    outline: none;
}

ul, li, dl, ol {
    list-style: none;
}

a {
    text-decoration: none;
}

.contentleft {
    min-height: 500px;
    width: 150px;
    float: left
}

.contentright {
    min-height: 500px;
    width: 1000px;
    float: left;
}

.box {
    width: 980px;
    margin: 0 auto;
}

.bcon {
    width: 800px;
    border: 1px solid #eee;
    margin: 30px auto;
}

.bcon h1 {
    border-bottom: 1px solid #eee;
    padding: 0 10px;
}

.bcon h1 b {
    font: bold 14px/40px '宋体';
    border-top: 2px solid #3492D1;
    padding: 0 8px;
    margin-top: -1px;
    display: inline-block;
}

.list_lh {
    height: 400px;
    overflow: hidden;
}

.list_lh li {
    padding: 10px;
}

.list_lh li.lieven {
    background: #F0F2F3;
}

.list_lh li p {
    height: 50px;
    line-height: 24px;
}

.list_lh li p a {
    float: left;
    font: bold 30px '华文隶书';
    text-align: center;
}

b {
    margin-left: 10px;
}

.h1b {
    margin-left: 50px;
}

.h1b2 {
    margin-left: 200px;
}

.h1b3 {
    margin-left: 130px;
}

.list_lh li p span {
    color: #999;
    float: right;
}

.list_lh li p a.btn_lh {
    background: #28BD19;
    height: 17px;
    line-height: 17px;
    color: #fff;
    padding: 0 5px;
    margin-top: 4px;
    display: inline-block;
    float: right;
}

.btn_lh:hover {
    color: #fff;
    text-decoration: none;
}

.pa1 {
    color: #666;
    margin-left: 15px;
}

.pa2 {
    color: #666;
    margin-left: 65px;
}

.pa3 {
    color: #666;
    margin-left: 50px;
}

.pa4 {
    color: #666;
    margin-left: 100px;
}

.pa5 {
    margin-left: 45px;
    color: red;
}

.students {
    width: 980px;
    margin: 0 auto;
}

.student {
    width: 850px;
    height: 350px;
    margin: 20px auto;
    background: url("../image/bg.jpg") 0px 0px;
}

.title {
    font: bold 40px '华文楷体';
    margin-left: 100px;
}

.studentImg {
    margin-top: 30px;
    margin-left: 30px;
    height: 300px;
    width: 300px;
}

.studentText {
    margin: 30px 0px 20px 130px;
    float: left;
    width: 350px;
    height: 300px;
}

.studentText a {
    font: bold 20px '楷体';
    display: block;
    width: 350px;
    word-wrap: break-word;
    color: gray;
}
