.contentJoinMe {

    margin: 0 auto;
    width: 1150px;
}

.carousel1 {
    float: left;
    width: 480px;
    height: 706px;
}

.form1 {
    float: left;
    width: 400px;
    margin: 20px 120px;
}
