.blackG{
    width: 1150px;
    height: 220px;
    margin-left: 100px;
}

.contrast {
    width: 1150px;
    height: 1000px;
    float: left;
    margin-top: 30px;
    margin-left: 240px;

}
.enterprise {
    width: 1150px;
    height: 500px;
}
.safeguard {
    width: 1150px;
    height: 500px;
}
.text1{
    clear: both;
    font-size: 20px;
    width: 800px;
    height: 250px;
    margin-top: 30px;
    margin-left: 95px;
}
.text2{
    color: black;
    font-size: 20px;
    width: 800px;
    height: 250px;
    margin-top: 10px;
    margin-left: 95px;
}
.text3{
    color: black;
    font-size: 20px;
    width: 1200px;
    height: 450px;
    margin-top: 10px;
    margin-left: -170px;
}
.a1{ font-size: 15px;
    text-align: center;
    /*font-weight:bold;*/
    color:black;
    float: left;
    margin-top: 20px;
    margin-right: 400px;}
.a2{
    font-size: 15px;
    text-align: center;
    /*font-weight:bold;*/
    color:black;
    float: left;
    margin-top: 10px;
    margin-right: 400px;
}
.product{
    width: 1200px;
    height: 380px;
    margin-left: 90px;
    margin-top: 200px;
}
.thumbnail{
    width: 350px;
    height: 300px;
    float: left;
    margin-left: 30px;
}
.overflow {
    font-size: 24px;
    color: #2b85e4;
    text-align: center;
}
td{
    border: 1px solid black;
}
li{
    list-style: none;
}